lmb165;$current.dateTime.format("%d/%m/%y");$current.dateTime.format("%H:%M");$current.outTemp.round(1).raw;$current.barometer.round(1).raw;$current.outHumidity.round(1).raw;$current.windSpeed.round(1).raw;$current.windDir.round(1).raw;$current.windGust.round(1).raw;$current.rainRate.round(1).raw;$day.rain.sum.round(1).raw;$current.dewpoint.round(1).raw;weewx;$station.version;$current.inTemp.round(1).raw;$current.inHumidity.round(1).raw;$current.UV.round(1).raw;$current.radiation.round(1).raw;
