$current.dateTime.format("%d/%m/%y")
$current.dateTime.format("%H:%M:%S")
$current.outTemp.round(2).json
$day.outTemp.max.round(2).json
$day.outTemp.maxtime.format("%H:%M")
$day.outTemp.min.round(2).json
$day.outTemp.mintime.format("%H:%M")
$current.outHumidity.round(2).json
$day.outHumidity.max.round(2).json
$day.outHumidity.maxtime.format("%H:%M")
$day.outHumidity.min.round(2).json
$day.outHumidity.mintime.format("%H:%M")
$current.dewpoint.round(2).json
$day.dewpoint.max.round(2).json
$day.dewpoint.maxtime.format("%H:%M")
$day.dewpoint.min.round(2).json
$day.dewpoint.mintime.format("%H:%M")
$current.windchill.round(2).json
$day.windchill.min.round(2).json
$day.windchill.mintime.format("%H:%M")
$current.heatindex.round(2).json
$day.heatindex.max.round(2).json
$day.heatindex.maxtime.format("%H:%M")
$current.windSpeed.round(2).json
$day.windGust.max.round(2).json
$day.windGust.maxtime.format("%H:%M")
$span($time_delta=600).windSpeed.avg
$current.windDir.round(2).json
$current.windDir.ordinal_compass
$current.barometer.round(2).json
$trend.barometer.round(2).json
$day.barometer.max.round(2).json
$day.barometer.maxtime.format("%H:%M")
$day.barometer.min.round(2).json
$day.barometer.mintime.format("%H:%M")
$day.rain.sum.round(2).json
$current.rainRate.round(2).json
$month.rain.sum.round(2).json
$year.rain.sum.round(2).json
$current.rainRate.round(2).json
$day.rainRate.max.round(2).json
$day.rainRate.maxtime.format("%H:%M")
n.d.

