@media screen and (max-width: 999px)
{
  body
  {
    font-size: 90%;
  }

  body div, body ul, body h3 {
    margin-left: .1rem;
    margin-right: .1rem;
  }

  .title * {
    font-size: 1.5em;
    letter-spacing: 0.6em;
    margin: 0;
  }

  .heading {
      margin: 0;
      padding: 0;
      overflow: hidden;
  }

  .stationData {
    font-size: 0.8em;
  }

  .links {
    font-size: 1em;
    justify-content: center;
  }

  img.webcam, img.satellite
  {
    width: 100vw;
    max-height: 100vw;
    max-width: 100vw;
    height: auto;
  }

  .internlink, .externlink {
    font-size: 0.7em;
    padding: 0.2em 0.2em 0.2em 0.2em;
    margin: 0.1em 0.1em 0.1em 0.1em;

    width: 30%;
  }

  #wviewbuttons
  {
    text-align: center;
  }

  .wviewlink {
    width: 30%;
    font-size: 0.5em;
  }

  .measures-group {
    flex-flow: column nowrap;
    padding: 0;
  }

  .measures-group > .where {
    padding-top: 0;
  }

  .maincolumn {
      margin: 1vw;
  }

  .measure {
    flex-flow      : row;
    justify-content: space-evenly;
    margin-bottom: 0;
    width: 99%;
    font-size: .8rem;
  }

  .measure > label {
    margin-left: 0;
    padding-left: 0;
    width: 50%;
    text-align: left;
  }

  .measure .curr {
    font-size: 110%;
    width: 5em;
    height: 2rem;
  }

  .measure  .min, .curr, .max {
      margin-left: .1rem;
      margin-right: .1rem;
  }

  .measure  > div {
    width: 50%;
  }

 .webcams-container li {
   margin: 0;
 }
 .webcams-container {
   margin: 0;
   flex-flow: column nowrap;
 }

  #fiobbio2Measures > .measure > label, #mismaMeasures > .measure > label {
    display: inherit;
  }

  .bottombanner {
    font-size: 90%;
  }

  .emptyLabel {
    display: none;
  }

  li.grafana {
      /*width: 100%;*/
  }

  iframe.grafana {
      min-width: 98vw;
      border-width: 0;
  }

  iframe.grafana-chart {
      width:  95%;
      height: 50vh;
  }

  iframe.grafana-table {
      width:  95%;
      height: 35vh;
  }

  .measures-container * {
    width: 100%;
  }

} /* KEEP THIS AS THE LAST LINE!  @media screen and (max-width: 600px)  */
