baromday.png
dayrain.png
radiation.png
radiationDay.png
rainday.png
stormrain.png
tempdaycomp.png
windroseday.png
windroseweek.png
wspeeddaycomp.png
humidday.png
mg_ecmwf.png
monthrain.png
rainrate.png
windroseyear.png
yearrain.png
wz_meteogram.png
