Clouds-blue.jpg
Clouds.jpg
Current.htm
Daily.htm
Monthly.htm
Weekly.htm
Yearly.htm
almanac.htm
barom.png
baromday.png
barommonth.png
baromweek.png
baromyear.png
bucket_bg.png
chart_bg.png
data.htm
dayrain.png
dew.png
dewday.png
dewweek.png
dewyear.png
dialPalette.gd
dial_bg.png
django_bg.jpg
dot_bg.png
fc-icon-cloudy.gif
fc-icon-partlycloudy.gif
fc-icon-partlycloudyandrain.gif
fc-icon-partlycloudyandsnow.gif
fc-icon-rain.gif
fc-icon-snow.gif
fc-icon-snowandrain.gif
fc-icon-sunny.gif
formateddata.txt
header-big.inc
header.inc
heatchillcomp.png
heatchillmonthcomp.png
heatchillweekcomp.png
hindex.png
hindexday.png
hindexweek.png
hindexyear.png
hiwspeedday.png
hiwspeedmonth.png
hiwspeedweek.png
hiwspeedyear.png
humid.png
humidday.png
humiddial.png
humidmonth.png
humidweek.png
humidyear.png
intemp1.png
intemp2.png
intemp3.png
intempdaycomp.png
intempmonthcomp.png
intempweekcomp.png
meteoblue.png
monthrain.png
nav-buttons.inc
netRainDay.png
netRainMonth.png
netRainYear.png
parameterlist.htm
radar_lom.png
radiation.png
radiationDay.png
radiationMonth.png
radiationWeek.png
radiationYear.png
rainday.png
rainmonth.png
rainrate.png
rainweek.png
rainyear.png
readings-nostyle.inc
readings-plus.inc
readings.inc
realtime.htm
realtime.json
rxcheck.png
stationinfo.json
stormrain.png
temp.png
tempday.png
tempday_last.png
tempdaycomp.png
tempdial.png
tempmonthcomp.png
tempweek.png
tempweekcomp.png
tempyear.png
wchill.png
wchillday.png
wchillweek.png
wchillyear.png
wdirday.png
wdirmonth.png
wdirweek.png
wdiryear.png
webcam_raw_fiobbio.jpg
webcam_raw_misma.jpg
wind.png
windroseday.png
windrosemonth.png
windroseweek.png
windroseyear.png
wspeedday.png
wspeeddaycomp.png
wspeedmonth.png
wspeedmonthcomp.png
wspeedweek.png
wspeedweekcomp.png
wspeedyear.png
wview.htm
wview.txt
wxrss.xml
wz_meteogram.png
yearrain.png
Archive/
NOAA/
