[Unit]
After=docker.service

[Service]
User=pi
Group=pi
Type=oneshot
ExecStart=/home/pi/weather-station/k8s/run.sh
ExecStop=/usr/local/bin/minikube stop
RemainAfterExit=true

[Install]
WantedBy=default.target
