# NOTE: Since we are storing this file on a partition separate from the rootfs
# disk, you need to COPY the file to /etc, not just symlink it. Otherwise
# systemd won't find this file at boot.
[Unit]
After=docker.service network-online.target mnt-disk.mount
Requires=docker.service network-online.target mnt-disk.mount

[Service]
User=pi
Group=pi
Type=oneshot
ExecStart=/mnt/disk/weather-station/k8s/run.sh
ExecStop=/usr/local/bin/minikube stop
RemainAfterExit=true

[Install]
WantedBy=default.target
