body {
  background-color: #323232;
  /*font-family: Verdana, Arial, Sans-Serif;*/
  font-family: 'Baloo Tamma 2';
  color: whitesmoke;
  padding: 0;
  border: none;
  /* Center the body */
  margin: 0 auto;
  /* Make the body width fit the content width */
  display: table;
}

body div, body h3 {
  /* background-color: #004d90; */
  /* background-color: #25425a; */
  background-color: #173b58;
  /*border: 1px solid yellow;*/
}

h3 {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
}

a {
  text-decoration:none;
  color: inherit;
  font-size: 110%;
  font-weight: 1000;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

input {
  /*-webkit-appearance: none;*/
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.5);
  font-size: 100%;
  padding: 0.2em;

  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

img {
  max-width: 100%;
  border-radius: .3em;
  /*-moz-border-radius: .3em;*/
}

ul {
  padding-left: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

li {
  margin-left: 0;
  list-style: none;
}

/***************************************************************/

.bottombanner {
  font-size: 110%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: .5em;
  display: table;
  margin: 0 auto;
  padding: .2em;
  line-height: 2em;
}

.topRightBanner {
  float: right;
  width: fit-content;
  font-size: 90%;
}

.maincolumn {
  margin: 1em;

  clear: none;
  float: none;
  /*Make column large exactly as content */
  overflow: auto;

  max-width: 1280px;
}

.measures-group {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 0.5rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.measure {
  font-family: 'Oxygen Mono', monospace;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-left: 0.2rem;
  margin-left: 0;
  padding-right: 0.2rem;
  /*border: 1px solid yellow;*/
}

.measure > label {
  font-size: 80%;
  text-align: center;
  margin-bottom: 0.5rem;
}

.measure > div {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.measure div {
  background-color: inherit;
  text-align: left;
}

.measure .curr {
  font-size: 130%;
  width: 4rem;
  font-weight: bold;
  height: 3rem;
}

.measure .tempCurr {
  width: 5rem;
}

.measure .max {
  color: #F15025;
}

.measure .min {
  color: #5ADBFF;
}

.measure .min,
.measure .max,
.measure .other {
  font-size: 90%;
  width: 3.25rem;
  padding-top: 0.5rem;
  white-space: nowrap;
}

.measure .unit {
  vertical-align: super;
  font-size: 50%;
  margin: 0;
}

.measure .sub {
  font-size: 80%;
}

/***************************************************************/

.webcams-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.webcams-container > li {
  margin: 0.2rem;
}

/***************************************************************/

img.round {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  /*-moz-border-radius: 100%;*/
  border-radius: 100%;
}

img.satellite {
  width: 300px;
}

img.webcam {
  max-height: 22em;
}

.heading {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: left;
  white-space: nowrap;
}

.heading ul {
    margin: 0;
    padding: 0;
}

.heading p {
    margin-left: 1em;
    margin-right: 1em;
}

.title * {
  font-size: 2rem;
  letter-spacing: 0.2em;
  font-weight: 800;
  margin: 0;
  margin-left: 1rem;
}

.stationData, .links {
  display: flex;
  flex-flow: row wrap;
}

/***************************************************************/

.preformatted {
  background: rgba(0, 0, 0, 0.3);
  font-size: 110%;
  font-family: monospace;
  white-space: pre;
  clear:both;
  float:left;
}

/******************************************************************/

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.flex-container > li {
  margin: 0.1em;
}

.graph-container {
  display: flex;

  flex-flow: row nowrap;

  justify-content: center;
  align-items: center;
}

.graph-container > li > img {
  margin: 0.1em;
  background-color: #F5F5F5;
  background-color: rgba(245, 245, 245, 0.85);
}

.measures-group .location, .measures-group .timestamp {
  font-family: 'Baloo Tamma 2';
  color: whitesmoke;

  font-weight: bold;
  width: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: #FFF2BD;
}

.measures-group .timestamp {
    font-size: 80%;
    margin: 0;
    padding: 0;
}

.measures-container * {
    background-color: #202020;
    width: fit-content;
}

fiobbio2Measures, #mismaMeasures {
  margin-top 0;
  padding-top: 0;
}

#fiobbio2Measures > li > label, #mismaMeasures > li > label {
  display: none;
}

.forecast-img {
    max-width: 600px;
    height: 25em;
}

/* credits: https://css-tricks.com/infinite-all-css-scrolling-slideshow/ */
/* https://css-tricks.com/books/volume-i/infinite-scrolling-background-image/ */
.panorama-scroll {
  margin-top: 1em;
  margin: 0 auto;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.sliding-background {
  height: 400px;
  width: 22119px; /* pano width x 3 */
  background: url(http://rete.centrometeolombardo.com/bergamo/montemisma/public/webcam_small_pano.jpg);
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  animation: slide;
  animation-duration: 60s;
  /* Repeat forever */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.still-background {
  height: 400px;
  background: url(http://rete.centrometeolombardo.com/bergamo/montemisma/public/webcam_small_pano.jpg) no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.panorama-scroll:hover .sliding-background {
  animation-play-state: paused;
}

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-7373px, 0, 0); /* pano width */
  }
}

