[Unit]
After=docker.service

[Service]
Type=oneshot
ExecStart=/home/pi/weather-station/docker/run.sh
RemainAfterExit=true

[Install]
WantedBy=default.target
