@media screen and (max-width: 800px) {

  body
  {
    font-size: 90%;
  }

  .heading > .title {
    font-size: 200%;
  }

  img.satellite
  {
    width: 90%;
    max-width:100%;
    height: auto;
  }


  #menutop {
    clear:both;
    max-width: 85%;
    text-align: center;
  }

  .internlink, .externlink {
    font-size: 0.7em;
    padding: 0.2em 0.2em 0.2em 0.2em;
    margin: 0.1em 0.1em 0.1em 0.1em;

    width: 30%;
  }

  #wviewbuttons
  {
    text-align: center;
  }

  .wviewlink {
    width: 30%;
    font-size: 0.5em;
  }


  iframe.meteo,   img.meteo
  {
    min-width: 100%;
    margin-left: 0px;
    padding-left: 0px;
  }

  select
  {
    font-size: 90%;
  }

  div.heading {
    margin-top: 2em;
    margin-bottom: 0em;
  }

  .menu {
    position: absolute;
    margin-top: 0em;
    padding-top: 0em;
    max-height: 2em;
  }

  .hamburger-menu-wrapper, .hamburger-menu {
    margin-top: 0em;
    padding-top: 0em;
  }

  .menu-list {
    margin-top: 0.5em;
  }

  .measures-container {
    flex-flow: column nowrap;
    font-size: 60%;
  }

  .measure {
    flex-flow      : row;
    justify-content: space-between;
    max-width: 90%;
    margin-top:    1.2em;
    margin-bottom: 1.2em;
  }

  .measure > .label {
    margin-left: 0;
    padding-left: 0;
    width: 30%;
  }

}
