body {
  background-color: #323232;
  font-size: 90%;
  font-family: Verdana, Arial, Sans-Serif;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  border: none;
}

div {
  background-color: #004d90;
  /*border: 1px solid yellow;*/
}

h3 {
  font-size: 1.8em;
  text-align: center;
}

a {
  color: inherit;
}

input {
  /*-webkit-appearance: none;*/
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1em;
  padding: 0.5em;
  /* Round button borders */
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


img {
  max-width: 100%;
  border-radius: .3em;
  /*-moz-border-radius: .3em;*/
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  margin-left: 0;
  list-style: none;
}

/***************************************************************/

.lastUpdate {
  position: absolute;
  top: 1.1em;
  right: 1.1em;
  float: right;
  font-size: 90%;
}

.maincolumn {
  margin: 1em;

  clear: none;
  float: none;
  /*Make column large exactly as content */
  overflow: auto;
}

.measures-container {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: rgba(50, 50, 50, 0.8);
  padding-top: 0.5em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  width: 99%;
}

.measure {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-bottom: 1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  width: 22ch;
}

.measure > label {
  font-size: 80%;
  text-align: center;
  margin-bottom: 0.5em;
}

.measure > div {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.measure div {
  background-color: inherit;
  text-align: right;
}

.measure .curr {
  font-size: 140%;
  padding-left: 0.2em;
  padding-right: 0.4em;
  min-width: 3em;
  font-weight: 600;
}

.measure .max {
  color: #F15025;
}

.measure .min {
  color: #5ADBFF;
}

.measure .min,
.measure .max,
.measure .other {
  font-size: 90%;
  width: 3.25em;
  padding-top: 0.5em;
  white-space: nowrap;
}

.measure .unit {
  vertical-align: super;
  font-size: 50%;
  margin: 0;
}

.measure .sub {
  font-size: 80%;
}


.wider {
  width: 24ch;
}

.wider .curr {
  width: 5em;
}

.wider .min,
.wider .max {
  width: 4em;
}

.narrower {
  width: 17ch;
}

.narrower .curr {
  width: 0.3em;
}

.narrower .min,
.narrower .max {
  width: 3em;
}

/***************************************************************/

.webcams-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.webcams-container > li {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/***************************************************************/

img.round {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  /*-moz-border-radius: 100%;*/
  border-radius: 100%;
}

img.satellite {
  width: 300px;
}

img.webcam {
  max-height: 22em;
}

.heading {
  text-align: center;
}

.heading > .title {
  font-size: 3em;
  letter-spacing: 0.3em;
  font-weight: bold;
  margin: 0;
}

#histats_counter div {
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
}

/***************************************************************/

#noaatext {
  font-size: 95%;
  text-align: left;
  padding-left: 1em;
  background: rgba(0, 0, 0, 0.3);
}


/*****************************************************************/

.meteoblue {
  width: 340px;
  height: 430px;
  /*background: rgba(0, 0, 0, 0.5);*/
  padding: 0;
  border: 0;
  /* Disable scrolling */
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
}

/*  Enable the following to scale the iframe! */

/*
iframe.meteoblue {
  -ms-zoom: 0.85;
  -moz-transform: scale(0.85);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.85);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.85);
  -webkit-transform-origin: 0 0;
}
*/

/******************************************************************/

.flex-container {
  /* We first create a flex layout context */
  display: flex;

  flex-flow: row wrap;

  justify-content: center;
  align-items: center;
}

.flex-container > li {
  margin: 0.1em;
}

.graph-container {
  display: flex;

  flex-flow: row nowrap;

  justify-content: center;
  align-items: center;
}

.graph-container > li > img {
  margin: 0.1em;
  background-color: #F5F5F5;
  background-color: rgba(245, 245, 245, 0.85);
}

.measures-container > .where {
  font-weight: bold;
  text-align: left;
  width: 5ch;
  padding-top: 1.8em;
  color: #FFF2BD;
}

#mismaMeasures {
  margin-top 0;
  padding-top: 0;
}

#mismaMeasures > .measure > label {
  display: none;
}

#mismaMeasures .where {
  padding-top: 0.3em;
  padding-left: 0;
}


.stationInfo {
  font-size: 90%;
}

.sunMoon {
  font-size: 80%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

/* credits: https://css-tricks.com/infinite-all-css-scrolling-slideshow/ */
/* https://css-tricks.com/books/volume-i/infinite-scrolling-background-image/ */

.panorama-scroll {
  margin-top: 1em;
  margin: 0 auto;
  height: 300px;
  width: 90vw;
  position: relative;
  overflow: hidden;
}

.sliding-background {
  height: 300px;
  width: 22119px; /* pano width x 3 */
  background: url(http://rete.centrometeolombardo.com/bergamo/montemisma/public/webcam_small_pano.jpg);
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;

  animation: slide;
  animation-duration: 60s;
  /* Repeat forever */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.panorama-scroll:hover .sliding-background {
  animation-play-state: paused;
}


@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-7373px, 0, 0); /* pano width */
  }
}

#topbanner {
  text-align: center;
  font-size: 2em;
  color: red;
  font-family: 'Charm', cursive;
  background: rgba(255, 255, 255, 0.2);
  border-radius: .5em;
  display: table;
  margin: 0 auto;
  position:relative;  z-index: 2;
}

#topbanner > a {
  text-decoration: none;
}

.bottombanner {
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.2);
  border-radius: .5em;
  display: table;
  margin: 0 auto;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding: 0.3em;
}
