@media screen and (max-width: 800px) {

  body 
  {
    font-size: 90%;
  }

  div.leftcolumn, div.rightcolumn
  {
    float: left;
    min-width: 100%;
  }

  div.leftcolumn div, div.rightcolumn div 
  {
    float:left;
    align-content: center;
  }


  img.wviewgraph
  {
    width: 30%;
  }

  img.satellite,img.wviewxyplot
  {
    width: 90%;
    max-width:100%;
    height: auto;
  }


  #menutop {
    clear:both;
    max-width: 85%;
    text-align: center;
  }

  .internlink, .externlink {
    font-size: 0.7em;
    padding: 0.2em 0.2em 0.2em 0.2em;
    margin: 0.1em 0.1em 0.1em 0.1em;

    width: 30%;  
  }

  #wviewbuttons
  {
    text-align: center; 
  }

  .wviewlink {
    width: 30%;
    font-size: 0.5em;
  }


  iframe.meteo,   img.meteo
  {
    min-width: 100%; 
    margin-left: 0px;
    padding-left: 0px;
  }

  select
  {
    font-size: 90%;
  }
}
