@media screen and (max-width: 600px) {

  body
  {
    font-size: 90%;
  }

  .heading > .title {
    font-size: 200%;
  }

  img.satellite
  {
    width: 90%;
    max-width:100%;
    height: auto;
  }


  #menutop {
    clear:both;
    max-width: 85%;
    text-align: center;
  }

  .internlink, .externlink {
    font-size: 0.7em;
    padding: 0.2em 0.2em 0.2em 0.2em;
    margin: 0.1em 0.1em 0.1em 0.1em;

    width: 30%;
  }

  #wviewbuttons
  {
    text-align: center;
  }

  .wviewlink {
    width: 30%;
    font-size: 0.5em;
  }


  iframe.meteo,   img.meteo
  {
    min-width: 100%;
    margin-left: 0px;
    padding-left: 0px;
  }

  select
  {
    font-size: 90%;
  }

  div.heading {
    margin-bottom: 0em;
  }

  .menu {
    position: absolute;
    margin-top: 0em;
    padding-top: 0em;
    max-height: 2em;
  }

  .hamburger-menu-wrapper, .hamburger-menu {
    margin-top: 0em;
    padding-top: 0em;
  }

  .menu-list {
    margin-top: 0.5em;
  }

  .measures-container {
    flex-flow: column nowrap;
    padding-left: 0;
    padding-right: 0;
  }

  .measures-container > .where {
    padding-top: 0;
  }

  .measure {
    flex-flow      : row;
    justify-content: space-evenly;
    margin-bottom: 0.4em;
    width: 99%;
  }

  .measure > label {
    margin-left: 0;
    padding-left: 0;
    width: 25%;
    font-size: 80%;
    text-align: left;
  }

  .measure  .curr {
    font-size: 140%;
    width: 5em;
  }

 .webcams-container {
   flex-flow: column nowrap;
 }

  #mismaMeasures > .measure > label {
    display: inherit;
  }

  .bottombanner {
    font-size: 90%;
  }
}
