body {
  background-color: #323232;
  /*font-family: Verdana, Arial, Sans-Serif;*/
  font-family: 'Baloo Tamma 2';
  color: whitesmoke;
  margin: 0;
  padding: 0;
  border: none;
}

div {
  /* background-color: #004d90; */
  /* background-color: #25425a; */
  background-color: #173b58;
  /* border: 1px solid yellow; */
}

h3 {
  font-size: 1.8em;
  text-align: center;
}

a {
  color: inherit;
}

input {
  /*-webkit-appearance: none;*/
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1em;
  padding: 0.5em;
  /* Round button borders */
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


img {
  max-width: 100%;
  border-radius: .3em;
  /*-moz-border-radius: .3em;*/
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  margin-left: 0;
  list-style: none;
}

/***************************************************************/

.topRightBanner {
  float: right;
  width: fit-content;
  font-size: 90%;
}

.maincolumn {
  margin: 1em;

  clear: none;
  float: none;
  /*Make column large exactly as content */
  overflow: auto;
}

.measures-group {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: rgba(50, 50, 50, 0.8);
  padding-top: 0.5rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.measure {
  font-family: 'Oxygen Mono', monospace;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  width: 22ch;
}

.measure > label {
  font-size: 80%;
  text-align: center;
  margin-bottom: 0.5rem;
}

.measure > div {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.measure div {
  background-color: inherit;
  text-align: right;
}

.measure .curr {
  font-size: 130%;
  padding-left: 0.3rem;
  padding-right: 0.4rem;
  width: 5rem;
  font-weight: bold;
}

.measure .max {
  color: #F15025;
}

.measure .min {
  color: #5ADBFF;
}

.measure .min,
.measure .max,
.measure .other {
  font-size: 90%;
  width: 3.25rem;
  padding-top: 0.5rem;
  white-space: nowrap;
}

.measure .unit {
  vertical-align: super;
  font-size: 50%;
  margin: 0;
}

.measure .sub {
  font-size: 80%;
}


.wider {
  width: 24ch;
}

.wider .curr {
  width: 5rem;
}

.wider .min,
.wider .max {
  width: 4rem;
}

/***************************************************************/

.webcams-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.webcams-container > li {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/***************************************************************/

img.round {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  /*-moz-border-radius: 100%;*/
  border-radius: 100%;
}

img.satellite {
  width: 300px;
}

img.webcam {
  max-height: 22em;
}

.heading {
  text-align: center;
}

.heading > .title {
  font-size: 3.5rem;
  letter-spacing: 0.2em;
  margin: 0 auto;
  line-height: 2rem;
  font-weight: 800;
  padding-top: 1.5rem;
}

.subTitle {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 90%;
}

#histats_counter div {
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
}

/***************************************************************/

#noaatext {
  font-size: 95%;
  text-align: left;
  padding-left: 1em;
  background: rgba(0, 0, 0, 0.3);
}


/*****************************************************************/

.meteoblue {
  width: 340px;
  height: 480px;
  /*background: rgba(0, 0, 0, 0.5);*/
  padding: 0;
  border: 0;
  /* Disable scrolling */
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
}

/*  Enable the following to scale the iframe! */

/*
iframe.meteoblue {
  -ms-zoom: 0.85;
  -moz-transform: scale(0.85);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.85);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.85);
  -webkit-transform-origin: 0 0;
}
*/

/******************************************************************/

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.flex-container > li {
  margin: 0.1em;
}

.graph-container {
  display: flex;

  flex-flow: row nowrap;

  justify-content: center;
  align-items: center;
}

.graph-container > li > img {
  margin: 0.1em;
  background-color: #F5F5F5;
  background-color: rgba(245, 245, 245, 0.85);
}

.measures-group .location, .measures-group .timestamp {
  font-weight: bold;
  text-align: left;
  width: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: #FFF2BD;
}

.measures-group .timestamp {
    font-size: 80%;
    margin: 0;
    padding: 0;
}

.measures-container {
    display: table;
    margin: 0 auto;
    margin-bottom: .5rem;
}

#mismaMeasures {
  margin-top 0;
  padding-top: 0;
}

#mismaMeasures > li > label {
  display: none;
}

/* credits: https://css-tricks.com/infinite-all-css-scrolling-slideshow/ */
/* https://css-tricks.com/books/volume-i/infinite-scrolling-background-image/ */
.panorama-scroll {
  margin-top: 1em;
  margin: 0 auto;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.sliding-background {
  height: 400px;
  width: 22119px; /* pano width x 3 */
  background: url(http://rete.centrometeolombardo.com/bergamo/montemisma/public/webcam_small_pano.jpg);
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  animation: slide;
  animation-duration: 60s;
  /* Repeat forever */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.still-background {
  height: 400px;
  background: url(http://rete.centrometeolombardo.com/bergamo/montemisma/public/webcam_small_pano.jpg) no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.panorama-scroll:hover .sliding-background {
  animation-play-state: paused;
}


@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-7373px, 0, 0); /* pano width */
  }
}

.bottombanner {
  font-size: 110%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: .5em;
  display: table;
  margin: 0 auto;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding: .2em;
  line-height: 2em;
}

.header {
  position: sticky;
  top: 0;
  flex-flow: row;
  justify-content: center;
  display: flex;

  /* HIDING IT HERE */
  display: none;
}

.header li {
  font-size: 110%;
  padding: .5rem 2rem .5rem 2rem;
  background-color: #5558;
  text-align: center;
}

li.grafana {
    /*width: 45%;*/
}

iframe.grafana {
    width: 100%;
    border-width: 0;
    border-color: whitesmoke;
    padding: 0.5rem;
}

iframe.grafana-chart {
    width: 500px;
    height: 300px;
}

iframe.grafana-table {
    width: 500px;
    height: 19ch;
}
