*{
  margin:0;
  padding:0;
  list-style:none;
  border:none;
}

body.fiobbio
{
  font-family:Verdana,Arial,Sans-Serif;
  font-size:90%;
  background:#323232;
  color: whitesmoke;
  list-style:none;
  padding: 1em 1em 1em 1em;
}

h3{
  font-size:1.8em;
  /*color:#ff4; */
  /* Changed inside tab Title color from yellowish*/
  color: whitesmoke;
  font-family:"Trebuchet MS",Arial,Sans-Serif;
  /* padding-bottom: 1em; */
}

a,p,h4 
{
  color: whitesmoke;
}

h4
{
  padding: 0 0 0.5em 0;
}


input
{
  -webkit-appearance: none;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1em;
  padding: 0.5em;
  /* Round button borders */

  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top:  0.5em;
  margin-bottom:  0.5em;
}

div 
{
  margin-top:    0.5em;
  margin-bottom: 0.5em;
  padding-top:   1em;
  background-color: #004d90;
}

img
{
  max-width: 100%;
  border-radius: .3em;
  -moz-border-radius: .3em;
}

li {
  margin: 0.3em 0.3em 0.3em 0.3em;
  padding: 0em 0em 0em 0em;
  float: left;
}

div.maincolumn
{
  clear: none;
  float: none;
  /*Make column large exactly as content */
  overflow: auto;
  padding: 0 0.5em 0 0.5em;
  /* Center the div element */
  margin: auto;

  width: 98%;

  color: whitesmoke;

  /* DEBUG */
  /* background-color: black; */
}
/***************************************************************/

img.wviewgraph
{
  background-color: rgba(245, 245, 245, 0.85); 
  margin-top: 1em;
}

img.round
{
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

div.rightcolumn
{
  float: right;
  width: 59%;
  margin-left:1%; 
  /* DEBUG */
  /* background-color: violet;  */
}

div.leftcolumn
{
  float: left;
  width: 37%;
  /* DEBUG */
  /* background-color: orange; */
}

div.leftcolumn div 
{
  float: right;
}

div.rightcolumn div 
{
  float: left;
}


div.centercolumn
{
  clear: none;
  float: none;
  /*Make column large exactly as content */
  overflow: auto;
  
  /* Center the div element */
  width: 30%;
  /* DEBUG */
  /* background-color: black; */
}

div.rightcolumn,
div.leftcolumn
{
  clear: none;

  color: whitesmoke;

  padding-top: 0em;
  /* background-color:#004d90; */
  /*Removed border*/
  /* border: 1px solid orange;*/
  /*Make column large exactly as content */
  overflow: hidden;
  /* Make the column scale of size when resizing window */
  /* max-width: 33%; */
}

div.rightcolumn img,
div.leftcolumn img
{
  /* Make the images in the columm automatically scale when resizing window */
  max-width: 100%;
  height: auto;
}

.rounded
{
  border-radius: .3em;
  -moz-border-radius: .3em;
}


.internlink {
  /*width: 90%;*/
  width: auto;
  background-color: #2A2A2A;
}

.wviewlink {
  width: auto;
  /*background-color: #7AC7C4;
  color: #384259; */
}

.externlink {
  width: auto;
  background-color: darkturquoise;

}


img.satellite
{
  width: 300px;
}

img.webcam {
  max-height: 22em;
}


div.heading
{
  text-align: center;
  padding-top: 0em;
  margin-top: 0em;
}

div.blockdisplay
{
  display: block;
  /*border:1px solid black;*/
  clear: both;	
  overflow: hidden;
  text-align: center;
  /* DEBUG */
  /* background: red; */
}

h2.blockdisplay
{
  margin-top: 1em;
}


iframe.meteoblue
{
  height: 380px;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  /* Disable scrolling */
  overflow:hidden;
}



/***************************************************************/

#tables {
  padding-top: 2em;   
}

/************ Start of table values ************/

.tablevalues 
{
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  /*border:1px solid #C9C9C9; */
  color: #333;

  /* Make table as large as the div container */
  min-width: 100%;
  width: 100%;

  font-size:  90%;
  /*border-collapse: collapse;*/
  text-align: center;
}


.tablevalues th.firstcolumn
{
  width: 40%;
  font-weight:bold;
}

.tablevalues th.col3
{
  width: 30%;

}

.tablevalues th.col4
{
  width: 20%;
}


.tablevalues th
{
  font-weight: normal;
  font-size: 90%;
}

.tablevalues thead 
{
  font-weight:bold;
  background:#333;
  color: rgba(245,245,245,1); 
}

.tablevalues .even 
{
  background-color: rgba(245,245,245,0.85); 
  
}

.tablevalues tr td.title
{
  padding: .3em;
  font-size:  95%;
}

.tablevalues .now
{
  font-weight: bold;
  font-size: 101%;
}


.tablevalues .nowtemperature
{
  font-size: 170%;
}


.tablevalues .min,
.tablevalues .max
{
  font-weight: bold;
  font-size:   100%;
  text-align:  center;
}


.tablevalues .min
{
  color: blue;
}

.tablevalues .max
{
  color: red;
}

/***************************************************************/


/* IDs */

#menubottom {
  background-color: rgba(0,0,0,0.3); 
  color:      #000000; 
  height:     auto; 
  line-height:30px;
  letter-spacing:1px; 
  width:15%;
  position:fixed;
  bottom: 5px;
  right: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  text-align: left;
}

#menutop {
  padding-top: 0em;
  background-color: rgba(0,0,0,0.3); 
  position:fixed;
}

#misc {
  width:100%;
  margin-bottom: 20px;
}

#noaatext
{
  font-size: 95%;
  text-align: left;
  padding-left: 1em;
  background: rgba(0, 0, 0, 0.3);
}


#histats_counter
{
  margin-top: 1em;
  align-content: center;
}


div.nospace 
{
  margin:      0 0 0 0;
  padding-top: 0 0 0 0;
}
/***************************************************************/




::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

