SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
# Avoid sending mail
MAILTO=""

*/5 * * * *    cd /home/pi/weather_station/webcam/scripts && ./gen_new_pic.sh > /dev/null
