/**
 *
 *  Start of CSS.
 *
 */

		*{
			margin:0;
			padding:0;
			list-style:none;
			border:none;
		}
		body{
			font-family:Verdana,Arial,Sans-Serif;
			font-size:90%;
			background:#333;
			color:#ccc;
		}
		
		div.domtab{
			padding:0 3em;
			width:auto;
			font-size:80%;
			height: 100%;
		}
		
		ul.domtabs{
			float:left;
			width:100%;
		    /* margin:2em 0 0 0; */
            /* Reduced top margin (tabs to title) to reduce page height */
            margin: 0;

		}
		
		ul.domtabs li{
			float:left;
			padding:0 .5em 0 0;
		}
		
		ul.domtabs a:link,
		ul.domtabs a:visited,
		ul.domtabs a:active,
		ul.domtabs a:hover{
			width:8em;
			padding:.2em 1em;
			display:block;
			background:#666;
			color:#ccc;
			height:3em;
			font-weight:bold;
			text-decoration:none;
		}
		html>body ul.domtabs a:link,
		html>body ul.domtabs a:visited,
		html>body ul.domtabs a:active,
		html>body ul.domtabs a:hover{
			height:auto;
			min-height:3em;
		}
		
		ul.domtabs a:hover{
			background: #ff4;
		}
		
		div.domtab .insidedomtab
		{
			clear:both;
            /* Changed default color */
			/*background:#696;
*/
			background: darkGreen;
			color:#fff;
            /* Padding between content of inside domtab and external div */
			padding:1em 2em;
			border: 5px solid white;
			overflow: hidden;
		}
		
		.insidedomtab p
		{
			display: block;
		}

		ul.domtabs li.active a:link,
		ul.domtabs li.active a:visited,
		ul.domtabs li.active a:active,
		ul.domtabs li.active a:hover
		{
			/*background:#696;*/
			background: darkGreen;
			color:#fff;
		}
		
		
		#domtabprintview{
			float:right;
			padding-right:1em;
			text-align:right;
		}
		#domtabprintview a:link,
		#domtabprintview a:visited,
		#domtabprintview a:active,
		#domtabprintview a:hover{
			color:#fff;
		}
		
		p{
			margin:0 0 .5em 0;
			line-height:1.3em;
		}
		
		h2{
			font-size:1.8em;
			/*color:#ff4; */
            /* Changed inside tab Title color from yellowish*/
            color: whitesmoke;
			text-transform:uppercase;
			font-family:"Trebuchet MS",Arial,Sans-Serif;
			padding:0 0 .2em .2em;
		}
		
		h1{
			font-size:2em;
			text-align:center;
			font-weight:normal;
			text-transform:uppercase;
			font-family:"Trebuchet MS",Arial,Sans-Serif;
			padding:.5em 0;
			background:#000;			
			/* border-bottom:1px solid #666; */
		}
	    
        h2.title,
        h2.title a{
			font-size:1em;
			font-weight:normal;
			font-family:"Trebuchet MS",Arial,Sans-Serif;
			padding: 0 0 0 2em;
			background:#000;
		    border-bottom:1px solid #666;
		    color:#ccc;
		    text-decoration: none;
            text-align: center;
        }
        
        h2.title:hover,
        h2.title:hover a
       {
            color:#ff4;
        }

		pre{
			font-size:1.2em;
			padding:1em;
		}
		
		div.domtab div a:link,
		div.domtab div a:visited,
		div.domtab div a:active
		{
			color:#fff;
			display:block;
			padding:1em .5em;
			font-weight:bold;
			font-size:1.3em;
		}
		
		div.domtab div h2 a,
		div.domtab div h2 a:hover,
		div.domtab div h2 a:active
		{
			display:inline;
			padding:0;
			font-weight:normal;
			font-size:1em;
		}
